.backdrop {
  width: 100px;
  height: 38.608px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #d9d9d9;
  padding: 4px;
  display: flex;
  justify-content: end;
  cursor: pointer;

  &__switch {
    width: 30px;
    height: 30px;
    margin-right: 4px;
    border-radius: 50%;
    background-color: rgba(17, 17, 17, 1);
  }
}

.text {
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-top: 8px;
}
